@import url("https://fonts.googleapis.com/css2?family=Coda&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111;
}

ul li {
  display: inline-block;
}

/* NAVIGATION */

.brand {
  background: #f5f5f5;
  padding: 5px;
}

.toolbar {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.social-media i {
  padding-right: 10px;
  color: #111;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.bar {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.srch {
  padding: 10px;
  border: 3px #111 solid;
  border-top-left-radius: 8px;
  margin-left: -184px;
  position: absolute;
  font-family: "Lexend", sans-serif;
}

.btn {
  padding: 10px;
  border-bottom-right-radius: 8px;
  border: 3px #111 solid;
  margin-right: -40px;
  position: relative;
  background: rgb(0, 0, 0);
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Lexend", sans-serif;
}
.btn:hover {
  color: #fff;
  background: rgb(48, 48, 48);
}

.logo {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}

.logo img {
  width: 300px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

/* navigation main */
.toolbar {
  margin-top: 80px;
}

.navigation-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 1px 4px 7px rgb(0 0 0 / 30%);
  z-index: 3;
}

.navigation {
  position: relative;
}

.nav-content {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background: #f5f5f5;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}

.nav-content a {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
}

.nav-content a:hover {
  color: #444;
  text-shadow: 0px 0px 2px rgba(0, 255, 47, 0.7);
}

/* navigation ended */

/* main section starts */
.block h4 {
  font-size: 14px;
  font-weight: 300;
  color: #999999;
  padding: 5px;
}

.block h3 {
  font-size: 25px;
  font-weight: 500;
  color: #111111;
}

.block-2 h3 {
  border-bottom: 2px #111 solid;
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

.block {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  flex-direction: row;
}

.block-1 {
  margin: 5px;
}
.block-2 {
  margin: 5px;
}
.block-3 {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.block-3 h3 {
  font-size: 25px;
  font-weight: 500;
  color: #111111;
}

.block-3 img {
  margin: 5px 0;
}

.block-3 .bii {
  border-bottom: 2px #111 solid;
  margin: 15px 0;
}

.block-3 .heading {
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
}

.heading1 {
  display: flex;
  background-color: red;
  color: #fff;
  padding: 10px;
  margin: 5px 0px;
  justify-content: center;
}

.block-1 .b {
  border-bottom: 2px #111 solid;
}

/* CAPITAL */
.row .c-blocks h3 {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
}

#capital {
  margin-top: 30px;
}

.c-blocks {
  width: fit-content;
  padding: 10px;
  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.row img {
  width: 450px;
  border-radius: 10px;
}

/* Advertisement */
.ads {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
}

/* footer parts */
.footer {
  background: #0b2351;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding-top: 40px;
}

.footer-top img {
  width: 50px;
  padding-bottom: 15px;
}
.footer-top h4 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

.footer-top .f1 p {
  padding: 2px 0px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffffb3;
}

.footer-top .f1 span {
  font-weight: 500;
}

.footer-top .f2 p {
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffffb3;
}

.footer-top .f2 span {
  font-weight: 500;
}

.footer-top .f3 a {
  color: #fff;
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 300;
}

.footer-top .f4 a {
  color: #fff;
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 300;
}

.footer-social ul li {
  display: block;
  padding: 14px 0;
}

.footer-social ul li i {
  padding-left: 10px;
}

.footer-top .f3 a:hover,
.footer-top .f4 p:hover {
  text-decoration: underline;
}

.footer-top .f4 p {
  padding: 14px 0;
}

.footer-top {
  margin-bottom: 20px;
}

.footer-bottom {
  background: #0b2351;
  font-size: 16px;
  font-weight: 300;
  border-top: 2px solid #fff;
  margin-top: 40px;
  padding: 25px;
  display: block;
  margin-left: 150px;
  margin-right: 150px;
}

.footer-bottom p {
  color: #fff;
  display: block !important;
  margin-top: 10px;
}

.footer-bottom a {
  color: #fff;
}

.footer-bottom a:hover {
  color: #ffffffb3;
  text-decoration: underline;
}

/* footer section ends here */




/* Responsive parts */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}